<!DOCTYPE html>
<html>
<head>
    <title>Update Post</title>
</head>
<body>
    <h1>Update Post</h1>

    <form action="/update/{{ post.id }}" method="POST">
        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author" value="{{ post.author }}"><br>
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" value="{{ post.title }}"><br>
        <label for="content">Content:</label><br>
        <textarea id="content" name="content">{{ post.content }}</textarea><br>
        <input type="submit" value="Update">
    </form>

</body>
</html>
